html, body {margin: 0; height: 100%; overflow: hidden}

body{
	color: black;
  font-family: 'Poppins', sans-serif;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .on-start-wrapper{
  display: none;
} */

.spectrogram-wrapper-wrapper{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  position: absolute;
  width: 50%;
  top: 40vh;
  left: 1vh;
  height: 45vh;
}

.spectrogram-wrapper{
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  top: 0vh;
  left: 0%;
  height: 45vh;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
}

.header-context{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pred-wrapper {
  display: grid;
  grid-template-columns: auto; /* The default, but best to be explicit */
  gap: 0.5rem 0;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: bottom;
}

.pred-wrapper > li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: bottom;
  /* justify-content: space-between; */
  padding: 0.25rem 0.5rem;
  /* grid-column-start: 1; */
  /* border: 1px solid red; */
  height: 100%;
  width: 10vh;
}

#pred1{
  background-color: #fe4e4e;
  width: 10vh;
  height: 1vh;
  bottom: bottom;
  transform: translateY(-30px);
  transition: all 0.2s ease;
  position: absolute;
}

#pred2{
  background-color: #ee5397;
  width: 10vh;
  height: 1vh;
  bottom: bottom;
  transform: translateY(-30px);
  transition: all 0.2s ease;
  position: absolute;
}

#pred3{
  background-color: #3466a5;
  width: 10vh;
  height: 1vh;
  bottom: bottom;
  transform: translateY(-30px);
  transition: all 0.2s ease;
  position: absolute;
}

#pred4{
  background-color: #00c4d4;
  width: 10vh;
  height: 1vh;
  bottom: bottom;
  transform: translateY(-30px);
  transition: all 0.2s ease;
  position: absolute;
}

.pred-wrapper{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  height: 40vh;
  /* border: 1px solid red; */
}

.predictions{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  border: 1px solid black;
  width: 60vh;
  right: 5vh;
  position: absolute;
  top: 40vh;
}

.pred-wrapper-wrapper{
  display: flex;
  /* border: 1px solid red; */
}

.predClass-wrapper{
  position: absolute;
  align-items: left;
  text-align: left;
  width: 25vh;
  height: 5vh;
  bottom: -5vh;
}

.content-wrapper{
  display: flex;
}